<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.html.twig' %}
    
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}iFF-blog | Учебный проект{% endblock %}</title> 
    </head>
    <body>
        <div class="container">
            <header><a href="/"><img id="logo" src="/img/logo.jpg" alt="Widget News" /></a></header>
            {% include 'includes/nav.html.twig' %}
            
            {% block body %}{% endblock %}
            
            {% include 'includes/footer.html.twig' %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
