<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.html.twig' %}
    </head>
    <body>
        <div class="container">
            <header><a href="/"><img id="logo" src="img/logo.jpg" alt="Widget News" /></a></header>
            {% include 'includes/nav.html.twig' %}
            
            {% block body %}{% endblock %}
            
            {% block javascripts %}{% endblock %}
            {% include 'includes/footer.html.twig' %}
        </div>
    </body>
</html>
