{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <a href="{{ path('article_index') }}">К списку статей</a>
    
    <h1>Редактирование статьи</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Обновить'}) }}


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
